@media only screen and (min-width: 1201px) {
.carousel-inner>.item > .carousel-caption > h1{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 50px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 25px;
}

.navbar-static .nav> li >a{padding: 15px 30px 15px 0px;}
.carousel-inner>.item > .carousel-caption > a{ margin-bottom:10%;}
.team-member1 .team-member1-details p{font-size:14px;}
.section19 .section19-404  h1{font-size:20em;}
.navbar-brand {	margin-left:0px !important;}
.section-10-btn-cont{text-align:right; margin: 15px 0 0 0;}
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.carousel-inner>.item > .carousel-caption > h1{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 50px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 25px;
}
.navbar-static .nav> li >a{padding: 15px 30px 15px 0px;}  
.carousel-inner>.item > .carousel-caption > a{ margin-bottom:10%;}
.team-member1 .team-member1-details p{font-size:14px;}
.section19 .section19-404  h1{font-size:20em;} 
.navbar-brand {	margin-left:0px !important;} 
.section-10-btn-cont{text-align:right; margin: 15px 0 0 0;}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.carousel-inner>.item > .carousel-caption > h1{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 50px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 25px;
}
.carousel-caption .btn{font-size:12px;}
.team-member1 .team-member1-details p{font-size:14px;}
.section19 .section19-404  h1{font-size:20em;}   
.section-10-btn-cont{text-align:left; margin: 15px 0 0 0;} 
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.carousel-inner>.item > .carousel-caption > h1{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 0px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 25px;
}
.carousel-caption .btn{font-size:12px;}
.team-member1 .team-member1-details p{font-size:12px;}
.section19 .section19-404  h1{font-size:10em;} 
.navbar-brand {	margin-left:15px !important;}   
.section-10-btn-cont{text-align:left; margin: 15px 0 0 0;}
.carousel-control.left {background: none; top: 18%;}
.carousel-control.right {background: none; top: 18%;}
.carousel-control i{ font-size:1em;}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

.carousel-inner>.item > .carousel-caption > h1{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 0px;
}
.carousel-inner>.item > .carousel-caption > h3{
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 25px;
}
.carousel-caption .btn{font-size:12px;}
.team-member1 .team-member1-details p{font-size:12px;}
.section19 .section19-404  h1{font-size:10em;}
.navbar-brand {	margin-left:15px !important;}
.section-10-btn-cont{text-align:left; margin: 15px 0 0 0;}
.carousel-control.left {background: none; top: 18%;}
.carousel-control.right {background: none; top: 18%;}
.carousel-control i{ font-size:1em;}
}