/*-----------------------------------------------------------------------------------
	Template Name:             || Vastage || Responsive Mutipurpose HTML5 Template
	Template URI:              ....................................
	Description:               ....................................
	CoDer :                    Nilanjan Banerjee. 
	CoDer's Site URL:          http://nilanjan.host22.com/vastage/
	Coder's facebook account:  https://www.facebook.com/nilanjan.banerjee0
	Coder's mail:              nilanjan.banerjee0@gmail.com
	skype ID:                  nilanjan.banerjee7
	Version:                   1.0
-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------
	CSS INDEX
	===================
	
	1.Default
	2.Logo
	3.Navbar 1
	4.Navbar 2
	5.Navbar 3
	6.Banner
	7.Inner Title bar
	8.Section 1
	9.Section 2
	10.Section 3
	11.Section 4
	12.Section 5
	13.Section 6
	14.Section 7
	15.Section 8
	16.Section 9
	17.Section 10
	18.Section 11
	19.Section 12
	20.Section 13
	21.Section 14
	22.Section 15
	23.Section 16
	24.Section 17
	25.Section 18
	26.Section 19
	27.Section 20
	28.Section 21
	29.Footer Top
	30.Footer Bottom
	
-----------------------------------------------------------------------------------*/

/************************************
				1.Default
*************************************/
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(images/preloader.gif);
}

.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto 15px;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	font-weight:600;
}
html, body {
	height: 100%
}
body {
	font-family: 'Open Sans', sans-serif;
}
a {
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #333;
}
a:hover {
	text-decoration: none
}
a:focus {
	outline: 0 solid
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.btn {
	padding:10px 20px;
}
.btn-primary {
	color: #fff;
	background-color: #00aef0;
	border-color: #00aef0;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0393ca;
	border-color: #0393ca;
}
.btn-seconday {
	color: #00aef0;
	background-color: #fff;
	border-color: #fff;
}
.btn-seconday:hover {
	color: #00aef0;
	background-color: #efeded;
	border-color: #efeded;
}
.nopadding {
	padding-left:0px;
	padding-right:0px;
}
.read-more {
	color:#00aef0;
	font-size:14px;
	font-weight:600;
}
.read-more:hover {
	text-decoration:underline;
	color:#00aef0;
}
p {
	line-height:26px;
}
.section-padding {
	padding:100px 0;
}
/************************************
				2.Logo
*************************************/
.navbar-brand {
	float: left;
	height: auto;
	padding: 8px 0px;
	font-size: 18px;
	line-height: 20px;
}
/************************************
				3.Navbar 1
*************************************/
.navbar {
	margin-bottom:0px;
}
.header-shade {
	-webkit-box-shadow: 0px 0px 10px #333;
	-moz-box-shadow:    0px 0px 10px #333;
	box-shadow:         0px 0px 10px #333;
	z-index:999;
}
.navbar-fixed-top {
	-webkit-box-shadow: 0px 0px 10px #333;
	-moz-box-shadow:    0px 0px 10px #333;
	box-shadow:         0px 0px 10px #333;
	z-index:999;
	margin-top:0px !important;
	padding:20px 0px !important;
	background:#fff !important;
	position:fixed !important;
}
.navbar-fixed-top .navbar-nav>li>a {
	color:#777 !important;
	font-weight:600 !important;
	background:transparent !important;
	text-transform:uppercase !important;
}
.dropdown-menu .divider {
	margin:0px;
}
.dropdown-menu>li>a {
	text-transform:uppercase;
	font-size:12px;
	font-weight:700;
	color:#777;
	background: #fff;
	padding:10px;
}
.dropdown-menu> li >a:hover {
	color: #fff !important;
	background-color: #00aef0 !important;
}
.navbar-1 {
	background:#fff;
	border:none;
	border-radius:0px;
	padding:20px 0px;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom:none;
}
.navbar-1 .navbar-nav>li>a {
	color:#777;
	background: #fff;
}
.navbar-1 .navbar-nav>li>a:hover, .navbar-1 .navbar-nav>li>a:active {
	color:#00aef0 !important;
	background-color: #fff !important;
}
.navbar-1 .navbar-nav>.open>a, .navbar-1 .navbar-nav>.open>a:focus, .navbar-1 .navbar-nav>.open>a:hover {
	color:#00aef0 !important;
	background-color: #fff;
}
.navbar-1 .navbar-nav>li>.dropdown-menu {
	margin-top:20px;
}
/************************************
				4.Navbar 2
*************************************/
.navbar-2 {
	background: transparent;
	position: absolute;
	z-index: 15;
	width: 100%;
	border: 0px;
	padding-top:20px;
}
.navbar-2 .navbar-nav>li>a {
	color:#fff;
	font-weight:600;
	background:transparent;
	text-transform:uppercase;
}
.navbar-2 .navbar-nav>li>a:hover, .navbar-2 .navbar-nav>li>a:active {
	color:#00aef0 !important;
	background-color:transparent;
}
.navbar-2 .navbar-nav>.open>a, .navbar-2 .navbar-nav>.open>a:focus, .navbar-2 .navbar-nav>.open>a:hover {
	color:#00aef0 !important;
	background-color:transparent;
}
.navbar-2 .navbar-nav>li>.dropdown-menu {
	margin-top:20px;
}
/************************************
				5.Navbar 3
*************************************/
.navbar-3 {
	background:#fff;
	z-index: 10;
	width: 100%;
	border: 0px;
	padding:20px;
	display:flex;
	border-radius:0px;
	margin:40px 0 0 0;
}
.navbar-3 .navbar-nav>li>a {
	color:#777;
	font-weight:600;
	background:transparent;
	text-transform:uppercase;
}
.navbar-3 .navbar-nav>li>a:hover, .navbar-3 .navbar-nav>li>a:active {
	color:#00aef0 !important;
	background-color:#fff;
}
.navbar-3 .navbar-nav>.open>a, .navbar-3 .navbar-nav>.open>a:focus, .navbar-3 .navbar-nav>.open>a:hover {
	color:#00aef0 !important;
	background-color:#fff;
}
.navbar-3 .navbar-nav>li>.dropdown-menu {
	margin-top:20px;
}
/************************************
				6.Banner
*************************************/	
.carousel {
	position: relative;
	width: 100%;
	min-height: 100%;
	text-align: center;
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.carousel-control.left {
	background:none;
	top:50%;
}
.carousel-control.right {
	background:none;
	top:50%;
}
.carousel-inner>.item>img {
	background-size:cover;
	margin:0 auto;
	width:100%;
}
/************************************
			7.Inner Title bar
*************************************/
.inner-title {
	background:#00aef0;
	padding:30px 0;
}
.inner-title h2 {
	color:#fff;
	;
}
.breadcrumbs ul {
	float:right;
	font-size:13px;
	margin-top:10px;
	font-weight:500
}
.breadcrumbs ul li {
	display:inline-block;
	color:#fff !important;
	margin:0 0 0 5px
}
.breadcrumbs ul li:after {
	content:"";
	font-family:"FontAwesome";
	font-size:12px;
	color:#fff;
	margin:0 0 0 9px
}
.breadcrumbs ul li:last-child:after, .breadcrumbs ul li:first-child:after {
	content:"";
	margin:0
}
.breadcrumbs ul li:last-child a, .breadcrumbs ul li a {
	color:#fff !important;
	font-weight:600
}
.breadcrumbs ul li a:hover {
	color:#fff !important;
	text-decoration:underline;
}
.breadcrumbs ul li:first-child {
	padding-right:0;
	margin-left:0
}
.breadcrumbs ul li:first-child, .breadcrumbs ul li:last-child {
	color:#fff;
	background:0
}
.breadcrumbs ul li:last-child {
	padding:0;
	background:0
}
/************************************
				8.Section 1
*************************************/
.section-1{
	padding:100px 0 60px;
	}
.section-1-box {
	padding:0px 0px 20px;
	text-align:center;
}
.section-1-box-icon-background {
	background:#00aef0;
	height:100px;
	width:100px;
	border-radius:50%;
	margin:0 auto 20px auto;
}
.section-1-box-icon-background i {
	margin-top:37px;
	color:#fff;
}
.section-1-box h4 {
	text-transform:uppercase;
	color:#555555;
	font-size:18px;
	margin:0 0 10px 0;
}
.section-1-box p {
	color:#777;
	font-size:14px;
}
/************************************
				9.Section 2
*************************************/
.section-2{
	padding:0 0 100px;
	}
.section-2-box-left {
	border-right:1px solid #00aef0;
}
.section-2-box-left h4 {
	font-size:18px;
	color:#999;
	text-align:right !important;
	margin:0 15px 15px 0;
}
.section-2-box-left h2 {
	font-size:30px;
	color:#555;
	text-align:right !important;
	margin:0 15px 0 0;
}
.section-2-box-right p {
	color:#777;
}
/************************************
				10.Section 3
*************************************/
section-3{
	padding:30px 0;
	}
.section3-background {
	background:#333333;
}
.section-3-box {
	padding:40px 0;
	text-align:left;
}
.section-3-box h3 {
	font-size:30px;
	color:#fff;
}
.section-3-box h4 {
	font-size:18px;
	color:#ccc;
	margin-bottom:0px;
}
/************************************
				11.Section 4
*************************************/
.section-4{padding:80px 0 60px;}
.section-4-box {
	padding:20px 0px;
	overflow:hidden;
}
.section-4-box-icon-cont {
	float:left;
	width:30px;
	margin:0 23px 53px 0;
}
.section-4-box-icon-cont i {
	color:#00aef0;
}
.section-4-box-text-cont {
	margin:0 0 0 15px;
}
.section-4-box-text-cont h5 {
	text-transform:uppercase;
	color:#555555;
	font-size:16px;
	margin:0 0 10px 0;
}
.section-4-box-text-cont p {
	color:#777;
	font-size:14px;
}
/************************************
				12.Section 5
*************************************/
.section-5-background {
	background:url(images/section-5-background.jpg) no-repeat fixed;
	background-color:#252525;
	background-position:center;
	padding:100px 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.section-5-box-text-cont {
	text-align:left;
}
.section-5-box-text-cont h2 {
	color:#fff;
	margin:40px 0 15px 0;
}
.section-5-box-text-cont p {
	color:#fff;
	margin:0 0 40px 0;
}
/************************************
				13.Section 6
*************************************/
.section-6{padding:100px 0 80px;}
.section-title {
	text-align:center;
	margin-bottom:50px;
}
.section-title h2 {
	font-size:30px;
	color:#555555;
}
.section-title h6 {
	font-size:14px;
	text-transform:uppercase;
	color:#555555;
}
.section-6-box {
	margin-bottom:20px;
}
.section-6-box h3 {
	font-size:20px;
	color:#555555;
	margin-top:30px;
}
.section-6-box p {
	font-size:14px;
	color:#777;
}
/************************************
				14.Section 7
*************************************/
.section-7-background {
	background:url(images/section-7-background.jpg) no-repeat fixed;
	background-color:#252525;
	background-position:center;
	padding:100px 0 0 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.section-7-box-text-cont {
	text-align:left;
}
.section-7-box-text-cont h2 {
	color:#fff;
}
.section-7-box-text-cont p {
	color:#fff;
	margin:0 0 40px 0;
}
/************************************
				15.Section 8
*************************************/
.section-8{ padding:60px 0 60px;}
#quote-carousel {
	padding: 0 10px ;
	/*margin-top: 30px;*/
}
#quote-carousel .carousel-inner {
	min-height:0px;
}
#quote-carousel .carousel-control {
	background: none;
	color: #CACACA;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 0px;
}
#quote-carousel .carousel-control.left {
	left: -10px;
}
#quote-carousel .carousel-control.right {
	right: -10px;
}
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
	width: 50px;
	height: 50px;
	margin: 5px;
	cursor: pointer;
	border-radius: 50px;
	opacity: 0.4;
	overflow: hidden;
	transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
	background: #333333;
	width: 128px;
	height: 128px;
	border-radius: 100px;
	opacity: 1;
	overflow: hidden;
}
.item blockquote {
	border-left: none;
	margin: 0;
}
.item blockquote p {
	font-size:14px;
	color:#777;
	font-style:italic;
}
.item blockquote img {
	margin:25px 0 0 0;
}
.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}
/************************************
				16.Section 9
*************************************/
.section-9-background {
	background:#efefef;
	padding:25px;
}
/************************************
				17.Section 10
*************************************/
.section-10-background {
	background:#00aef0;
	padding:50px 0px 40px;
}
.section-10-box-text-cont h3 {
	font-size:24px;
	color:#fff;
	text-transform:uppercase;
	font-weight:400;
}
.section-10-box-text-cont p {
	color:#fff;
	font-style:italic;
	margin:0 0 10px 0;
	font-size:16px;
}
.section-10-btn-cont {
	text-align:right;
	margin: 15px 0 0 0;
}
/************************************
				18.Section 11
*************************************/
.section-11{ padding:80px 0;}
.section-11-box {
	padding:20px 0px 10px;
	text-align:center;
}
.section-11-box-icon-background {
	background:#00aef0;
	height:80px;
	width:80px;
	border-radius:5%;
	margin:0 auto 20px auto;
}
.section-11-box-icon-background i {
	margin-top:28px;
	color:#fff;
}
.section-11-box h4 {
	text-transform:uppercase;
	color:#555555;
	font-size:18px;
	margin:0 0 10px 0;
}
.section-11-box p {
	color:#777;
	font-size:14px;
}
/************************************
				19.Section 12
*************************************/
.section-12 {
	padding:70px 0px 100px;
}
.portfolioFilter {
	margin: 0px 0px 10px 0px;
	overflow: hidden;
	padding: 15px 10px;
	color: #45bbff;
}
.section-12 p {
	margin-bottom:100px;
}
.portfolioFilter a {
	color: #45bbff;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
}
.portfolioFilter a.current {
	color: #45bbff;
	font-weight:700;
}
.portfolioContainer a img {
	margin:15px auto;
	width:100%;
	height:100%;
}
.portfolioContainer1{ line-height:0px; }
.portfolioContainer1 a img {
	/*margin:15px auto;*/
	margin:0px auto;
	width:100%;
	height:100%;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

/*hover effect start*/
.portfolioContainer .imghvr-push-up{margin-bottom:30px;}
.imghvr-push-up a {
position:relative;
text-align:center;
padding:29%;
visibility:hidden;
color:#fff;
}

.imghvr-push-up:hover a {
visibility:visible;
text-decoration:none;
background-color:#00aef0;
}
/*hover effect end*/

/************************************
				20.Section 13
*************************************/
.section-13 {
	background:#00aef0;
	padding:70px 0;
}
.section-13 h2 {
	color:#fff;
	font-weight:200;
}
.section-13 p {
	color:#fff;
}
.section-13 .light {
	color:#fff;
	width:20%;
	margin:30px auto 40px auto;
}
.section-13 .btn {
	color:#00aef0;
	font-weight:600;
}
.section-13 .btn-default {
	border-color:transparent;
}
/************************************
				21.Section 14
*************************************/
.section-14{padding:100px 0 40px;}
.section-title {
	text-align:center;
	margin-bottom:50px;
}
.section-title h2 {
	font-size:30px;
	color:#555555;
}
.section-title h6 {
	font-size:14px;
	text-transform:uppercase;
	color:#999;
}
.section-14-box {
	margin-bottom:60px;
	position:relative;
	overflow:hidden;
}
.section-14-box h3 {
	margin-top:30px;
}
.section-14-box h3 a {
	font-size:20px;
	color:#555555;
}
.section-14-box h3 a:hover {
	font-size:20px;
	color:#999;
}
.section-14-box p {
	font-size:14px;
	color:#777;
	line-height:26px;
	margin: 0 0 20px 0;
}
.section-14-box .date {
	background-color: #00aef0;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 100px;
	line-height: 24px;
	margin-bottom: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	position: absolute;
	text-align: center;
	visibility: visible;
	width: 75px;
}
.section-14-box .comments {
	margin:0 0 15px 0;
	color:#222;
	font-style:italic;
}
.section-14-box .comments a {
	color:#222;
	font-style:italic;
	margin:0 0 0 5px;
}
.section-14-box .comments a:hover {
	text-decoration:underline;
}
.section-14-box ul {
	list-style-type:none;
	margin:30px 0 0 0;
	padding:0px;
}
.section-14-box ul li {
	margin:20px 0;
}
.section-14-box ul li a {
	color:#777;
}
.section-14-box ul li a:hover {
	text-decoration:none;
	color:#00aef0;
}
.section-14-box ul li a i{ margin:0 5px 0 0;}
.section-14-box .underline {
	border-bottom:2px solid #00aef0;
	padding:0 0 15px 0;
}
.section-14-box ul li a.tag {
	float:left;
	margin:5px;
	padding:10px 20px;
	border: 1px solid #777;
}
.section-14-box ul li a.tag:hover {
	float:left;
	margin:5px;
	padding:10px 20px;
	border: 1px solid #00aef0;
	color:#00aef0;
}
.blog-search-field {
	border: 1px solid #e6e6e6;
	background: #fff;
	width: 100%;
	padding: 13px 15px;
	outline: none !important;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #777;
	margin:20px 0 0 0;
}
.search-form button {
	background: #ffffff;
	border: none;
	float: right;
	margin-top: -32px;
	margin-right: 15px;
	position: relative;
	z-index: 2;
}
.comment-form-container {
	margin:70px auto;
	;
}
.comment-form-container h4 {
	margin:0 0 35px 0;
}
.comment-form-container .nopadding-left {
	padding-left:0px;
}
.comment-form-container .form-control {
	border-radius:0px;
	padding:25px 15px;
}
/************************************
				22.Section 15
*************************************/
.section17-background {
	background:#CCC;
	padding:40px 0 30px 0;
}
.team-member {
	background:#fff;
}
/************************************
				23.Section 16
*************************************/
.section-16 {
	padding:100px 0;
}
.section-16 input[type="text"] {
	border-radius:0px;
	padding:25px 15px;
}
.section-16 textarea {
	border-radius:0px;
	padding:25px 15px;
}
.section-16 iframe {
	width:100% !important;
}
.section-16 .address {
	margin:20px 0;
}
.section-16 .address h4 {
	color:#00aef0;
}
/************************************
				24.Section 17
*************************************/
.section17 {
	background:#eeeef0;
	padding:70px 0;
}
.team-member1 {
	background:#fff;
	padding:5px;
	margin:10px auto;
	overflow:hidden;
}
.team-member1 .team-member1-img-cont {
	float:left;
	width:46%;
}
.team-member1 .team-member1-img-cont img {
	min-height:167px;
}
.team-member1 .team-member1-details {
	float:left;
	margin:0 0 0 20px;
}
.team-member1 .team-member1-details h4 {
	margin:10px 0 0 0;
	padding:0px;
}
.team-member1 .team-member1-details p {
	color:#878787;
	margin:5px 0 5px 0;
}
.team-member1 .team-member1-details .sub {
	margin:10px 0 10px 0;
}
.team-member1 .team-member1-details p i {
	margin:0 10px 0 0;
	font-size:16px;
}
/************************************
				25.Section 18
*************************************/
.section18-border {
	border:1px solid #ddd;
}
.section-18-img {
	border-right:1px solid #ddd;
	padding:10px;
}
.section18-border .textcont {
	margin:10px;
}
.section18-border .textcont h2 {
	font-size:24px;
	margin-bottom:20px;
	color:#555555;
	line-height:35px;
}
.section18-border .textcont p {
	margin-bottom:20px;
	color: #777;
}
/************************************
				26.Section 19
*************************************/
.section19 {
	margin:100px auto 100px auto;
	;
}
.section19 .section19-404 {
	border-right:1px solid #ddd;
}
.section19 .section19-404 h1 {
	font-size:20em;
	font-weight:700;
	color:#00aef0;
	text-align:center;
}
.section19 .section19-404 h3 {
	text-align:center;
}
.section19 .section19-subscribe h3 {
	margin-top:100px;
	margin-bottom:30px;
}
.section19 .section19-subscribe .form-control {
	border-radius:0px;
	padding:20px;
	width:80%;
	display:inline-block;
	margin-bottom:15px;
}
.section19 .section19-subscribe .btn-primary {
	border-radius:0px;
	display:inline-block;
	margin:0 0 3px 0;
}
/************************************
				27.Section 20
*************************************/
.section20 {
	margin:100px auto 80px;
}
.section-20-box {
	padding:20px 0px;
	overflow:hidden;
}
.section-20-box-icon-cont {
	float:left;
	width:23px;
	margin:0 15px 85px 0;
}
.section-20-box-icon-cont i {
	color:#00aef0;
}
.section-20-box-text-cont {
	margin:0 0 0 15px;
}
.section-20-box-text-cont h5 {
	text-transform:uppercase;
	color:#555555;
	font-size:16px;
	margin:3px 0 15px 0;
}
.section-20-box-text-cont p {
	color:#777;
	font-size:14px;
}
/************************************
				28.Section 21
*************************************/
.section21 {
	margin:70px auto;
}
.section-21-box {
	padding:25px 0px;
	overflow:hidden;
}
/************************************
				29.Footer top
*************************************/
.footer-top {
	padding: 25px 0;
	background-color: #1a1e21;
	color:#aaa;
	font-size:14px !important;
}
.footer-top p {
	font-size:14px !important;
	margin-bottom:0px;
}
.footer-top p b i{ margin:0 10px 0 0;}
.footer-top-box {
	margin:30px auto;
	overflow:hidden;
}
.footer-top h4 {
	color:#fff;
	text-transform:capitalize;
}
.footer-top .input-holder {
	position: relative;
}
.footer-top .input-holder input[type="email"] {
	width: 100%;
	display: inline-block;
	border: 0;
	border-radius: 0;
	height: 39px;
	padding: 10px 20px;
}
.footer-top .input-holder label {
	position: absolute;
	top: 0;
	right: -4px;
	text-align: center;
	cursor: pointer;
}
.footer-top .input-holder label i {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 20px;
	color: #fff;
}
.footer-top .input-holder input[type="submit"] {
	color: #fff;
	border: 0;
	border-radius: 0;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px;
	line-height: 0;
	text-indent: -999px;
}
.footer-top .submit-bgcolor {
	background-color: #00aef0;
}
.footer-top ul {
	list-style-type:none;
	padding-left:0px;
}
.footer-top ul li {
	margin:0 0 10px 0px;
}
.footer-top ul li a {
	color:#aaa;
}
.footer-top ul li a:hover {
	color:#fff;
}
.tag a {
	margin:5px;
	color:#aaa;
	padding:5px;
	float:left;
	border:1px solid #aaa;
}
.tag a:hover {
	color:#fff;
	border:1px solid #fff;
}
/***************************************
				30.Footer Bottom
****************************************/
.footer-bottom {
	font-size: 14px;
	padding: 20px 0;
	background-color: #111315;
	color: #7e7e7e;
}
.footer-bottom ul.social-buttons {
	list-style-type:none;
	margin:10px auto;
	padding:0px;
}
.footer-bottom ul.social-buttons li a {
	display: block;
	background-color: #00aef0;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: white;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align:center;
}
.footer-bottom ul.social-buttons li a:hover {
	background-color:#0393ca;
}
.footer-bottom .copyright {
	color:#999;
	margin:20px 0 20px 0;
}
